* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
}

#menu-container {
    display: flex;
    height: 100%;
    align-items: center;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    display: block;
    color: #fff;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem);
    transition: opacity 400ms ease;
}

#menu-bkg-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease;
}

#menu-items:hover ~ #menu-bkg-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu-container[data-active-index="0"] > #menu-bkg-pattern {
    background-position: 0% -25%;
}

#menu-container[data-active-index="1"] > #menu-bkg-pattern {
    background-position: 0% -50%;
}

#menu-container[data-active-index="2"] > #menu-bkg-pattern {
    background-position: 0% -75%;
}

#menu-container[data-active-index="3"] > #menu-bkg-pattern {
    background-position: 0% -100%;
}

#menu-bkg-image {
    height: 100%;
    width: 100%;
    background-image: url("assets/Empire_brand_logo_Empire_vector_geometric_ac3b3250-f63e-490f-a0b8-5a8ebe2399ca.png");
    background-position: center 40%;
    background-size: 110vmax;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    opacity: 0.05;
    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu-items:hover ~ #menu-bkg-image {
    background-size: 100vmax;
    opacity: 0.01;
}

#menu-container[data-active-index="0"] > #menu-bkg-image {
    background-position: center 45%;
}

#menu-container[data-active-index="1"] > #menu-bkg-image {
    background-position: center 50%;
}

#menu-container[data-active-index="2"] > #menu-bkg-image {
    background-position: center 55%;
}

#menu-container[data-active-index="3"] > #menu-bkg-image {
    background-position: center 60%;
}
